*{
    padding: 0px;
    margin: 0px;
}
ul, ol{
    list-style: none;
}
.nav li a{
    background-color: darkcyan;
    color: #000;   
    padding: 10px 15px;
    display: block;

}
.nav > li{
    float: left;
}
.nav li ul{
    display: none;
    position: absolute;
    min-width:150px;
}
.nav li :hover > ul{
    display: block;
}

.nav li ul li{
    position: relative;

}
.nav li ul li ul{
    right: -150px;
    top: 0px;
}


